---
import Layout from "@layout/Layout.astro";
import Header from "@comp/Header.astro";
import Carrusel from "@comp/Carrusel.tsx";
import Carrusel1 from "@comp/Carrusel copy.tsx";
import About from "@comp/About.astro";
import Footer from "@comp/Footer.astro";
import MapI from "@comp/MapI.astro";
import Donate from "@comp/Donate.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex flex-col items-center min-h-screen">
		<Header />
		<About/>
		<Carrusel client:only/>
		<Donate />
		<Carrusel1 client:only/>
		<MapI/>
		
		<Footer/>
	</div>
</Layout>
