---
import { ThemeModeScript } from "flowbite-react";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>FUNDESSOC - Fundación para el Desarrollo Social</title>
		<meta name="google-site-verification" content="06aaRtddeVC0W71m8RCi-rBEGNaSZxuySa9mTk6Eq4k" />
	  
<meta http-equiv="X-Frame-Options" content="DENY">
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains">
		
		<!-- Meta Description -->
		<meta name="description" content="FUNDESSOC: Organización dedicada al bienestar social y apoyo a comunidades vulnerables. Descubre nuestra misión y visión." />

		<!-- Open Graph Meta Tags (Para redes sociales) -->
		<meta property="og:title" content="FUNDESSOC - Fundación para el Desarrollo Social" />
		<meta property="og:description" content="FUNDESSOC: Organización dedicada al bienestar social y apoyo a comunidades vulnerables. Descubre nuestra misión y visión." />
		<!-- Meta Keywords -->
		<meta name="keywords" content="Barbosa, Barbosa Santander, Santander Barbosa, Santander" />
		<meta property="og:image" content="/icon/logoHD.png" />
		<meta property="og:url" content="https://fundessoc.vercel.app/" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="FUNDESSOC - Fundación para el Desarrollo Social" />
		<meta name="twitter:description" content="FUNDESSOC: Organización dedicada al bienestar social y apoyo a comunidades vulnerables. Descubre nuestra misión y visión." />
		<meta name="twitter:image" content="/icon/logoHD.png" />

		<!-- Canonical URL -->
		<link rel="canonical" href="https://fundessoc.vercel.app/" />

		
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Theme Mode Script -->
		<ThemeModeScript />
	</head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P2L0CZPK3N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P2L0CZPK3N');
</script>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	* {
		color: aliceblue;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	h1 {
		font-size: 2rem;
	}
	@media (min-width: 768px) {
		h1 {
			font-size: 3rem;
		}
	}
	@media (min-width: 1024px) {
		h1 {
			font-size: 4rem;
		}
	}
</style>
