---
import { ThemeModeScript } from "flowbite-react";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<ThemeModeScript />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	*{
		color: aliceblue;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

</style>
